@CHARSET "UTF-8";
body,h1,h2,h3,p,form,ul,li,dl,dt,dd{
	padding: 0;
	margin: 0;
}
body{
	background: #fff;
	font-size: 12px;
}
#top{
	background: #1e6d96;
}
#top h1{
	font-size: 30px;
	margin-top: 17px;
	float: left;
}
#top ul li{
	list-style: none;
	float: left;
	padding: 40px 10px 0 10px;

}
#top ul li a{
	display: block;
	font-size: 13px;
	text-decoration: none;
	color: black;	
	

}
#top ul li a:hover{
	color: #fff;
}
#top p{
	float: right;
	margin-top: 60px;
	color: #fff;
}
#top p a{
	text-decoration: none;
	color: #fff;
}
#top p a:hover{
	text-decoration: underline;
}
#sidebar{
	background:#93b7ce;
}
#sidebar dl{
	padding: 20px;
}
#sidebar dl dt{
	font-size: 14px;
	color: #3b6ea5;
	font-weight: bold;
	border-bottom:2px solid #ccc;
	padding: 5px 0;
	margin: 5px 0;
}
#sidebar dl dd{
	height: 22px;
	line-height: 22px;
}
#sidebar dl dd a{
	color: #333;
	text-decoration: none;
	font-weight: bold;
}
#sidebar dl dd a:hover{
	text-decoration: underline;
}

#main div.map{
	padding: 15px;
	color: #333;
}

#main table{
	width: 95%;
	margin: 0 auto;
	text-align: center;
}
#main table.left{
	text-align:left;
} 
#main table tr{
	background: white;
}
#main table tr:hover{
	background: #fffccc;
}
#main table th, #main table td{
	height: 30px;
	line-height: 30px;
	color: black;
}
#main table th{
	background:white;
	border-bottom: 1px solid #d5dfe8;
	font-weight: normal;
}
#main table td{
	border-bottom: 1px solid #eee;
}
#main a{
	text-decoration: none;
	color: #3b6ea5;
}
#main a:hover{
	text-decoration: underline;

}
#main p.center{
	text-align: center;
}
#main form input.text{
	width: 220px;
	height: 19px;
	border:1px solid #ccc;
}

#main form select{
	width: 100px;
	height: 19px;
	background: #fff;
}
#main form input.submit{
	cursor: pointer;
	margin: 0 0 0 47px;
}