.clearfix:after { 
    display:block; 
    clear:both;   
}
.box {  
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 540px;
    height: auto;
    text-align: left; 
}
.box:hover .close { 
    display: block;
}
.close:hover { 
    background: #FF6A6A;
}
.close { 
    display: none;
    position: absolute;
    top:0px;
    right: 0px;
    width: 28px;
    height: 28px;
    border: 1px solid #faebd7;
    background: #f2f4f7;
    line-height: 27px;
    text-align: center;
}        
.face {
    float: left;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.content { 
    float: left;
    width: 440px;
}
.weizhi { 
    margin-bottom: 10px;
}
.txt { 
    margin-bottom: 10px;
}
.user { 
    color: #369;
 }
.pictrue { 
    margin-right: 5px;
    width: 400px;
    border: 1px solid #eee;
}
.info {
    margin: 0 0 10px 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.time {
    float: left;
    padding-left: 20px;
    color: #ccc;
    height: 20px;
    background: url(../img/comment/time.jpg) left top no-repeat;
}
.comment-box {
    padding: 10px 0;
}
.myhead {
    float: left; 
    margin-right: 10px;
    width: 30px; 
    height: 30px; 
}
.comment-content {
    float: left; 
    width: 400px; 
}
.comment-time {
    position: relative;
    margin-top: 5px;
    color: #ccc; 
    line-height: 16px; 
}
.comment-operate {
    display: none;
    position: absolute; 
    bottom: 0px;
    right: 10px;
    height: 20px; 
    color: #369; 
}
.comment-content:hover .comment-operate { 
    display: inline-block;
}
.comment {
    display: block;
    padding: 5px;  
    height: 50px; 
    width: 428px; 
    border: 1px solid #eee;
    color: #333;
}
.btn {
    float: right;
    display: inline；
    font-size: 12px; 
    font-weight: bold; 
    width: 65px; 
    height: 25px; 
    border: 1px solid #0C528D; 
    color: #fff; 
    background: #4679AC;
}
.btn-off {
    border: 1px solid #ccc; 
    color: #ccc; 
    background: #F7F7F7;
}
.word{
    display: inline;
    float: right; 
    margin: 7px 10px 0 0; 
    color: #666;
}
