body, div, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	background: #fff;
	color: #222;
}
ol, ul, li, h1, h2, h3, h4, h5, h6 {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
i, span {
	font-style: normal;
	/*font-weight: normal;*/
}
input, button, select{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
	outline: 0;
}
img {
	cursor: pointer;
}
li:after {
	clear: both;
}
ul:after {
	clear: both;
}




/*下面是尾部*/
.foot {
    width: 100%;
    padding-top: 20px;
    color: #99a2aa;
    text-align: center;
}
.foot-wrp {
    background-color: #f6f9fa;
    padding-top: 40px;
    padding-bottom: 40px;
}
.foot-cnt {
    width: 1160px;
    height: 222px;
    margin: 0 auto;

}
.foot-top {
    margin: 0 auto;
    float: left;
    margin-bottom: 30px;
}
.foot-top li:first-child {
    border-left: 0;
    padding-left: 0;
}
.foot-top li {
    padding-right: 40px;
    padding-left: 39px;
    width: 360px;
    float: left;
    text-align: left;
    line-height: 1;
    border-left: solid 1px #e5e9ef;
    font-size: 14px;
}
.foot-top li:last-child {
    width: 280px;
    padding-right: 0;
}
.tips {
    margin-bottom: 22px;
}
.cards {
    width: 120px;
    float: left;
    position: relative;
    margin-bottom: 16px;
}
.foot a {
    color: #222;
}
.foot-right {
    position: relative;
    width: 100%;
    float: right;
}
.phone {
    position: relative;
    width: 82px;
    height: 80px;
    float: left;
}
.pic {
    position: relative;
    margin-left: 11px;
    width: 60px;
    height: 60px;
    float: left;
    background: url(../img/icon/icons.png) no-repeat -1024px -194px;
}
.phone i {
    position: absolute;
    left: 0;
    top: 65px;
    width: 82px;
    line-height: 14px;
    float: left;
    text-align: center;
}
.pic-hv {
    display: none;
    position: absolute;
    width: 130px;
    height: 130px;
    background: #fff;
    margin-top: -146px;
    right: -23px;
    transition: .2s;
    z-index: 10;
}
.pic-app {
        width: 128px;
    height: 128px;
    border: 1px solid #e5e9ef;
        background: url(../img/foot/app-qrcode.png) center center no-repeat;
}
.pic-arrow {
    width: 130px;
    height: 141px;
    background: url(../img/foot/wx-arrow.png) bottom center no-repeat;
}
.weibo {
    position: relative;
    width: 82px;
    height: 80px;
    float: left;
}
.weibo i {
    position: absolute;
    left: 0;
    top: 65px;
    width: 82px;
    line-height: 14px;
    float: left;
    text-align: center;
}
.pic2 {
    position: relative;
    margin-left: 11px;
    width: 60px;
    height: 60px;
    float: left;
    background: url(../img/icon/icons.png) no-repeat -1024px -322px;
}
.pic-hv2 {
    display: none;
    position: absolute;
    width: 130px;
    height: 130px;
    background: #fff;
    margin-top: -146px;
    right: -23px;
    transition: .2s;
    z-index: 10;
}
.pic-weibo {
    width: 128px;
    height: 128px;
    border: 1px solid #e5e9ef;
    background: url(../img/foot/weibo-qrcode.png) center center no-repeat;
}
.weixin {
    position: relative;
    width: 82px;
    height: 80px;
    float: left;
}
.weixin i {
    position: absolute;
    left: 0;
    top: 65px;
    width: 82px;
    line-height: 14px;
    float: left;
    text-align: center;
}
.pic3 {
    position: relative;
    margin-left: 11px;
    width: 60px;
    height: 60px;
    float: left;
    background: url(../img/icon/icons.png) no-repeat -1024px -66px;
}
.pic-hv3 {
    display: none;
    position: absolute;
    width: 260px;
    height: 150px;
    margin-top: -166px;
    right: -23px;
    transition: .2s;
    z-index: 10;
    background: #fff;
}
.pic-weixin {
    width: 258px;
    height: 148px;
    border: 1px solid #e5e9ef;
    background: url(../img/foot/wx.gif) center center no-repeat;
}
.pic-arrow3 {
    width: 130px;
    height: 141px;
    margin-left: 128px;
    margin-top: 20px;
    background: url(../img/foot/wx-arrow.png) bottom center no-repeat;
}
.partner {
    position: relative;
    top: -10px;
    padding: 0;
    text-align: left;
    margin: 0 auto;
    height: 80px;
    clear: both;
}
.pt-hezuo {
    line-height: 24px;
    float: left;
}
.partner-banner {
    background: url(../img/foot/footpic.png) no-repeat;
    width: 100px;
    height: 80px;
}
.pt-wenzi {
    margin: 0 0 0 20px;
    line-height: 24px;
    float: left;
}
.pt-right {
    position: relative;
    width: 274px;
    float: right;
}
.pt-right a {
    color: #99a2aa;
}
.foot-last {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    background: url(../img/icon/icons.png) no-repeat;
    background-position: -1367px -89px;
}