.box {
	position: relative;
	width: 980px;
	height: 600px;
	margin: 0 auto;
}
.line {
	width: 100%;
    height: 2px;
    background-color: #f1f1f1;
    margin-top: 28px;
}
.zhuce {
	width: 100%;
    height: 50px;
    float: left;
    margin-top: -30px;
    background: url(../img/register/t1.png) top center no-repeat;
}
.container {
	width: 100%;
	height: 600px;
    text-align: center;
    margin-top:40px;

}
form {
	height: 500px;
	width: 980px;
}
.user {
	height: 50px;
	width: 880px;
}
.user label {
	float: left;	
	clear: both;	
}
.text {
	height: 50px;
	width: 	400px;
	color: #a5a5a5;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	line-height: 50px;
	font-size: 	20px;
}
.msg {
	display: none;
	font-size: 15px;
	line-height: 50px;
}
.pwd {
	width: 980px;
	height: 50px;
}
.pwd label {
	float: left;	
	clear: both;	
}
.zifu {
	width: 400px;
	height: 30px;
}
.count {
	visibility: hidden;
	line-height: 30px;
	font-size: 15px;
}
.strong {
	width: 400px;
	height: 30px;
	margin: 10px 0 10px 0;
}
.com {
	display: inline-block;
	width: 50px;
	height: 30px;
	background-color: rgba( 255, 111, 2, 0.6);
	line-height: 30px;
	font-size: 17px;
	border-radius: 2px;
	color: #fff;
}
.ruo {
	background-color: #DC143C;
}

.yanzhengma {
	position: relative;
	width: 50px;
	height: 80px;
}
.yanzhengma label {
	float: left;
/*	clear: both;*/
}
.yzm {
	position: relative;
	margin: 10px 0 0 0;
	width: 150px;
	height: 50px;
}
.yanzheng {
	position: absolute;
	top: 25px;
	left: 200px;
	width: 75px;
	height: 25px;
	background-color: #222;
	float: left;
}
.btn {
	height: 50px;
	width: 	400px;
	
}
.submit-btn {
	background-color: rgba(0,181,229,1);
	border-radius: 3px;
	line-height: 50px;
	font-size: 	20px;
	color: #fff;
}
